<ion-view view-title="Intro" align-title="left">
    <ion-content style="background:#FD6A5B;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon">
                  <img class="full-image" src="img/intro.png" alt="">
                </div>

            </div>
        </div>




        <div class="social-login get-start-btn" >

                 <button ui-sref="app.login" style="" class="button button-full button-light button-primary ink" data-ink-color="#FD6A5B" data-ink-opacity="1">
                    GET STARTED
                </button>

                 <button ng-click="fbLogin()" class="button button-full button-clear button-light ink" data-ink-color="#FD6A5B" data-ink-opacity="1">
                    I ALREADY HAVE AN ACCOUNT
                </button>

         </div>




            </div>
        </div>
        <br />
    </ion-content>
</ion-view>
